.message, h1 {
    font-family: serif;
    font-size: 30px;
    font-weight: bold;
}

.messages {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

h1 {
    text-decoration: underline;
    font-size: 32px;
}

.error-hint {
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    border: 3px solid red;
    padding: 25px 50px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    background-color: white;
}

@keyframes colorAnimation {
    from {
        border: 5px solid red;
    }
    to {
        border: 3px solid #ff3131;
    }
    to {
        border: 3px solid #f58d93;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.closeButton,
.closeButton:hover {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.closeButton:hover {
    color: red;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
