.message {
    font-family: serif;
    font-size: 30px;
    font-weight: bold;
}
/*
.error-hint {
    -webkit-animation: fadeIn linear 1.2s;
}
*/
//.error-hint, .error-hint:hover
.error-hint {
    z-index: 10;
    //width: 300px;
    //height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    align-items: center;
    border: 3px solid red;
    padding: 50px 170px;
    //margin: 20px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    //right: 25px;
    //top: 0;
    //margin: auto;
    //left: 30%;
    //top: 35%;
    /*
    animation-name: colorAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    */
    background-color: white;
}

@keyframes colorAnimation {
    from {
        border: 5px solid red;
    }
    to {
        border: 3px solid #ff3131;
    }
    to {
        border: 3px solid #f58d93;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*
.error-hint:hover {
    border: 4px solid red;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
*/
.closeButton,
.closeButton:hover {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.closeButton:hover {
    color: red;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
