<div fxLayout="column" fxLayoutAlign="start center" class=""dropdown>
    {{buttonText}}


    <div class="interactive-square" fxLayout="column" fxLayoutAlign="center" center (click)="showMenu()"
        >
        
        <mat-icon class="larger-icon">
            {{buttonIcon}}
        </mat-icon>

        <p>Click to download</p>

        <div id="myDropdown" class="dropdown-content">
            <a id="bpmn" (click)="download('bpmn')">export as BPMN</a>
            <a id="pn" (click)="download('pn')">export as PN</a>
            <a id="bpmn-xml" (click)="download('bpmn-xml')">export as BPMN-XML</a>
        </div>
    </div>
</div>