<div fxLayout="column" fxLayoutAlign="start center" class=""dropdown>
    {{buttonText}}


    <div class="interactive-square" fxLayout="column" fxLayoutAlign="center" center (click)="showMenu()"
        >
        
        <mat-icon class="larger-icon">
            {{buttonIcon}}
        </mat-icon>

        <p>BPMN-Datei exportieren</p>

        <div id="myDropdown" class="dropdown-content">
            <a id="bpmn" (click)="download('bpmn')">als BPMN exportieren</a>
            <a id="pn" (click)="download('pn')">als PN exportieren</a>
            <a id="bpmn-xml" (click)="download('bpmn-xml')">als BPMN-XML exportieren</a>
        </div>
    </div>
</div>