.canvas {
    width: 100%;
    height: 500px;
    border-style: dotted;
    border-color: lightgrey;
    // so text of SVG does not get selected when dragging
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.background {
    fill: #ffffff;
}

$drag-color: #00b7ff92;
$add-color: #00ff7b92;
$arrow-inside-element-color: #ff006a;
$deleteColor: #ff000092;
$radiusSmall: 3px;
$radius: 4px;
$radiusMiddle: 4px;
$radiusLarge: 6px;



.arrowEndCircle {
    visibility: hidden;
    fill: $arrow-inside-element-color;
    r:$radiusSmall
}
.arrowLineInElement {
    visibility: hidden;
    fill: none;
    stroke: $arrow-inside-element-color;
    stroke-width: 1px;
    stroke-opacity: 1;
}
.arrowIntersection:hover {
    ~ .arrowEndCircle {
        visibility: visible;
    }
    ~ .arrowLineInElement {
        visibility: visible;
    }
}
.draged {
    .arrowEndCircle {
        visibility: visible;
    }
    .arrowLineInElement {
        visibility: visible;
    }
    .arrowIntersection {
        r:$radiusLarge
    }
}
.arrowIntersection {
    fill: $drag-color;
    r:$radiusSmall
}

.arrowIntersection:hover {
    r:$radiusLarge
}

.arrowCornerCircle {
    fill: $drag-color;
    r:$radius
}
.draged{
    .arrowCornerCircle{
        r:$radiusLarge
}
  .arrowCornerCircle:hover{
    r:$radiusLarge  }

}
.arrowCornerCircle:hover {
    r:$radiusLarge;
    ~ .cornerFeatures {
        visibility: visible;
        transition-property: visibility;
        transition-delay: 0s;
    }
}
.draged .arrowCornerCircle:hover {
    r:$radiusLarge;
    ~ .cornerFeatures {
        visibility: hidden;
    }
}
.cornerFeatures:hover {
    visibility: visible;
}
.cornerFeatures {
    visibility: hidden;
    transition-property: visibility;
    transition-delay: 0.5s;
}
.draged{
    .CornerFeatures{
        visibility: hidden;
    }
} 
.dragTwoCircle {
    fill: $drag-color;
    r: $radiusSmall
}
.plusCircle {
    fill: $add-color;
    r: $radiusSmall;
}
.deleteCircle{
    fill: $deleteColor;
    r: $radiusSmall;

}

.plusCircleAlone {
    fill: $add-color;
    r: $radiusSmall;
    transition: r 1;
}
.plusCircleAlone:hover{
    r: $radiusLarge;
    transition: r 1;

}