<app-error-hint></app-error-hint>

<div fxLayout="column" fxLayoutAlign="start stretch">
    <!--  Header  -->
    <a href="https://www.fernuni-hagen.de/ilovepetrinets/"><h1>I <span class="red">❤</span> Petri Nets</h1></a>
    <h2>Subtitle</h2>
   <app-mode-switch></app-mode-switch>
    <!--    Main content    -->
    <app-display class="padding full-size"></app-display>


    <div fxLayout="row" fxLayoutAlign="space-evenly start">
        <input-field buttonText="File upload" buttonIcon="publish" (newInputEvent)="textareaFc.setValue($event)"></input-field>
        <mat-form-field appearance="outline"
                        class="textarea">
            <mat-label>Source file</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="10"
                      cdkAutosizeMaxRows="20"
                      [formControl]="textareaFc"></textarea>
        </mat-form-field>
        <input-field buttonText="Right button" buttonIcon="grade"></input-field>
    </div>

    <!--  Footer  -->
    <hr>
    <app-footer></app-footer>
</div>
