<app-error-hint></app-error-hint>


<div fxLayout="column" fxLayoutAlign="start stretch">
    <!--  Header  -->
    <a href="https://www.fernuni-hagen.de/ilovepetrinets/"><h1>I <span class="red">❤</span> Petri Nets</h1></a>
    <h2>BPMN</h2>
    <app-mode-switch></app-mode-switch>
    <!--    Main content    -->
    <div [ngSwitch]="mode">
        <app-display-draggable-graph *ngSwitchCase="'free layout'"
        class="padding full-size"></app-display-draggable-graph>
        <app-display-reorder-graph *ngSwitchCase="'Sugiyama layout'"
        class="padding full-size"></app-display-reorder-graph>
        <app-display-switch-graph *ngSwitchCase="'Schalten'"
        class="padding full-size"></app-display-switch-graph>
    
    <button (click)="validateGraph()" style="margin-left:15px" mat-raised-button>validiere Graph</button>
    <p *ngIf="graphIsValid">Validierung abgeschlossen. Der angezeigte Graph ist valide.</p>
</div>
    <div fxLayout="row" fxLayoutAlign="space-evenly start">
        <input-field buttonText="Upload"
                     buttonIcon="publish"
                     (newInputEvent)="textareaFc.setValue($event)"></input-field>
        <mat-form-field appearance="outline"
                        class="textarea">
            <mat-label>Textdatei</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="10"
                      cdkAutosizeMaxRows="20"
                      [formControl]="textareaFc"></textarea>
                      <p></p>
            <details>
                <summary>
                    <b>Textspezifikation</b>
                </summary>
                    <p>.tasks</p>
                    <p>id type "label" (x,y)</p>
                    <p>.events</p>
                    <p>id type "label" (x,y)</p>
                    <p>.gateways</p>
                    <p>id type "label" (x,y)</p>
                    <p>.edges</p>
                    <p>idFrom idTo type "label"</p>
                    <p></p>
                    <p>Labels und Koordinaten sind immer optional</p>
                    <p>bei Tasks ist auch der Typ optional</p>
                    <p>Typen:</p>
                    <p>tasks: sending, manual, usertask, service, businessrule, receiving</p>
                    <p>events: start, end, intermediate</p>
                    <p>gateways: or_split, or_join, and_split, and_join, xor_split, xor_join</p>
                    <p>edges: sequenceflow, association, informationflow, defaultflow</p>
            </details>
        </mat-form-field>
        <output-field buttonText="Download"
                      buttonIcon="download"
                      [text]="textareaFc.value">
        </output-field>
    </div>
    <p id="textareaErrors">{{textareaError}}</p>
    <!--  Footer  -->
    <hr>
    <app-footer></app-footer>
</div>
