<app-error-hint></app-error-hint>
<button (click)="validateGraph()">validate Graph</button>
<p *ngIf="graphIsValid">Validierung abgeschlossen. Der angezeigte Graph ist valide.</p>

<div fxLayout="column" fxLayoutAlign="start stretch">
    <!--  Header  -->
    <a href="https://www.fernuni-hagen.de/ilovepetrinets/"><h1>I <span class="red">❤</span> Petri Nets</h1></a>
    <h2>Subtitle</h2>
    <app-mode-switch></app-mode-switch>
    <!--    Main content    -->
    <div [ngSwitch]="mode">
        <app-display-draggable-graph *ngSwitchCase="'free dragging'"
        class="padding full-size"></app-display-draggable-graph>
        <app-display-reorder-graph *ngSwitchCase="'change order'"
        class="padding full-size"></app-display-reorder-graph>
        <app-display-switch-graph *ngSwitchCase="'switch diagram'"
        class="padding full-size"></app-display-switch-graph>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-evenly start">
        <input-field buttonText="File upload"
                     buttonIcon="publish"
                     (newInputEvent)="textareaFc.setValue($event)"></input-field>
        <mat-form-field appearance="outline"
                        class="textarea">
            <mat-label>Source file</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="10"
                      cdkAutosizeMaxRows="20"
                      [formControl]="textareaFc"></textarea>
        </mat-form-field>
        <output-field buttonText="File download"
                      buttonIcon="download"
                      [text]="textareaFc.value"></output-field>
    </div>

    <!--  Footer  -->
    <hr>
    <app-footer></app-footer>
</div>
