<div class="buttonWrap">
    <button (click)="classic()"  mat-raised-button>Klassisch</button>
    <button (click)="recent()" style="margin-left:15px" mat-raised-button>Modern</button>
    <!-- <button (click)="wellHandledCheck()" style="margin-left:15px" mat-raised-button>well-handled check</button> -->
    <p id="textareaWellHandled" style="color: red;">{{textForWellhandled}}</p>
</div>
<svg #rootSvg id="rootsvg" class="canvas">
    <rect width="100%" height="100%" class="backgroundSwitchableGraph"></rect>
    <svg #drawingArea >        
    
    </svg>

</svg>
<p style="text-align: center; margin-bottom:0px"><b>Farblegende: </b>deaktiviert = weiß, aktivierbar = gelb, aktiviert = grün, geschaltet = grau</p>